[2015-10-10 16:06] phaedryx opened #1 "Javascript icon hard to read"
<img width="237" alt="js-icon" src="https://cloud.githubusercontent.com/assets/288994/10412035/8816382e-6f36-11e5-9ddc-53d492d59628.png">

Not a bit deal, but hard to read.

[2015-10-10 21:00] fv0 commented on #1
Hey @phaedryx, this is due to the nature of the light theme. If you take the grayscale icons it should work fine. You can apply this in the settings of the package _file-icons_. This will work better with a "dark" theme, which I might be working on in the future.

Thanks for your post.

[2015-10-13 01:19] yo7 opened #2 "Incorrect git status for directories"
This UI's git status in tree-view is cool, but I have a problem.

If there's a modified file in project, not only the directories including the file but every directories change their icons. It's unexpected behaviour. For example, in the image below, modified file is only an application_controller.rb.

<a href="https://gyazo.com/e127a89820a9ca1623869900173d4de3"><img src="https://i.gyazo.com/e127a

[2015-10-13 09:11] fv0 commented on #2
Oh, that shouldn't be of course. Will fix it!

[2015-10-13 09:19] #2 closed, assigned to nobody

[2015-10-15 13:57] fv0 opened #3 "Rework "Find in project" view"
<img width="1140" alt="screen shot 2015-10-15 at 15 55 08" src="https://cloud.githubusercontent.com/assets/8401092/10515763/3a6960ce-7355-11e5-99ac-ae448fec7311.png">
- Search results in the same color as the highlight line doesn't seem right.
- Dark font of toolbar is not legible
- Make single file stick out more?

[2015-10-15 16:00] fv0 opened #4 "Add more margin to search results"
<img width="947" alt="screen shot 2015-10-15 at 18 00 03" src="https://cloud.githubusercontent.com/assets/8401092/10519591/a4e9c112-7366-11e5-9087-406fb4674a2b.png">

[2015-10-16 18:12] jdsimcoe opened #5 "Cool El Cap app icon"
Do you have an ICNS or source file of your cool El Cap app icon?

[2015-10-19 08:36] fv0 commented on #5
Hey @jdsimcoe, good idea. I will upload a ICNS file for you this week.

[2015-10-19 08:46] fv0 opened #6 "Title bar buttons use wrong font style"
Looks like it inherits the font style from the headlines. Should be _SF Text_ and not _SF Display_. Font is too dense for buttons and UI elements.

<img width="834" alt="screen shot 2015-10-19 at 10 44 35" src="https://cloud.githubusercontent.com/assets/8401092/10573203/7bda8988-764e-11e5-9591-ad48e3fa6231.png">

[2015-10-19 09:34] fv0 opened #7 "Make caret icon gray for ignored folders"
<img width="123" alt="screen shot 2015-10-19 at 11 33 20" src="https://cloud.githubusercontent.com/assets/8401092/10574280/4aee1630-7655-11e5-99c2-497e50cfd8ad.png">

[2015-10-19 11:41] fv0 opened #8 "Rounded corners for suggestion menu"
Sometimes the first item in the suggestion menu doesn't have rounded corners on the top left and top right.

<img width="784" alt="screen shot 2015-10-19 at 13 39 55" src="https://cloud.githubusercontent.com/assets/8401092/10576874/0d99bc3c-7667-11e5-82d0-fa72e9c7ca50.png">

[2015-10-20 08:29] fv0 commented on #5
Icon now available with 8a5efb6a, you can find the link in the README file.

[2015-10-20 08:29] #5 closed, assigned to fv0

[2015-10-21 07:51] #4 closed, assigned to fv0

[2015-10-21 07:51] #6 closed, assigned to fv0

[2015-10-21 07:51] #8 closed, assigned to fv0

[2015-10-22 07:55] #3 closed, assigned to fv0

[2015-10-22 08:22] fv0 opened #9 "Transition to Markdown Preview"
<img width="260" alt="screen shot 2015-10-22 at 10 21 13" src="https://cloud.githubusercontent.com/assets/8401092/10660357/b64d7ea4-78a6-11e5-9f2c-3b3ce2cc565c.png">

[2015-10-22 12:28] fv0 opened #10 "Color too light in search results when collapsed and selected"
<img width="211" alt="screen shot 2015-10-22 at 14 27 20" src="https://cloud.githubusercontent.com/assets/8401092/10665111/1aaf28e4-78c9-11e5-88fc-8591d7aceffd.png">

[2015-10-29 09:03] #9 closed, assigned to fv0

[2015-10-29 09:03] #10 closed, assigned to nobody

[2015-11-04 14:30] #7 closed, assigned to fv0

[2015-11-13 00:13] traverse opened #11 "Issue with scrollbars showing up"
I'm having some issues with the scrollbar showing up all the time, I'm experiencing it on my Linux and W7 machines. Tried it with all other packages disabled but that didn't do anything either.

Running Atom 1.1.0 with native-ui 0.8.0 on W7x64 and Elementary OS 0.3.1 Freya (64-bit)

![scrollbar](https://cloud.githubusercontent.com/assets/7240988/11135245/8cbaab80-89a3-11e5-8f25-6ebf5b0f7ded.jpg)
(

[2015-11-13 09:17] fv0 commented on #11
@Traverse I released a fix for this. Can you approve that it now works on Windows? Unfortunately I have no possibility to test it.

[2015-11-13 09:31] fv0 opened #12 "Different background colors when no file is selected"
The background color changes a tone when a item in the tree view is focused. Hashtag designer problems.

![screen shot 2015-11-13 at 10 30 09](https://cloud.githubusercontent.com/assets/8401092/11142961/9f6f730c-89f1-11e5-8099-6b7b583d73b9.png)
![screen shot 2015-11-13 at 10 30 15](https://cloud.githubusercontent.com/assets/8401092/11142960/9f69d5dc-89f1-11e5-8b42-dd8121dbc09a.png)

[2015-11-13 10:35] TwR-Slice opened #13 "min-width of Tabs"
Hi,

currently the tabs have a min-width style set to 12.5%. This creates a problem where if the maximum number of 8 Tabs is reached, new tabs are not shown but open.

Removing this value solves this.

[2015-11-13 11:23] traverse commented on #11
@fv0 It fixed it for the command palette window but the editor window still has the scrollbar, not sure if that was intended or not?

[2015-11-16 09:35] fv0 commented on #11
@Traverse Yes, that actually makes sense because without them you would remove a layer of information showing you how many lines the document has. So they'll stay for now.

[2015-11-16 09:35] #11 closed, assigned to nobody

[2015-11-16 09:41] #12 closed, assigned to nobody

[2015-11-16 09:41] #13 closed, assigned to nobody

[2015-11-18 12:42] Vastyles opened #15 "Double border along titlebar?"
This I guess is more of a feedback/suggestion instead of a bug.

But apart from the theme being awesome, there is one tiny thing that kinda stands out in terms of it looking native to osx.

There seems to be a 2px border along the tab bar when it sits next to the titlebar of the window. I've attached a screenshot to show what I mean compared to say a basic textedit window.

![double-border](https:

[2015-11-19 14:32] #15 closed, assigned to nobody

[2015-11-20 08:49] LuminescentMoon opened #16 "Linter warning and error colors are difficult to tell apart."
http://colorpeek.com/#ff4800,cc0000

Edit for clarification: it's the colors set to the variables [@background-color-warning](https://github.com/fv0/native-ui/blob/master/styles/ui-variables.less#L34) and [@background-color-error](https://github.com/fv0/native-ui/blob/master/styles/ui-variables.less#L35) in [ui-variables.less](https://github.com/fv0/native-ui/blob/master/styles/ui-variables.less).

[2015-11-20 16:07] laughedelic commented on #16
+1

[2015-11-20 17:15] matthewjrallen opened #17 "Scrollbars being removed"
In some area's the scrollbars are being removed. This isn't usually an issue but my mouse scroll wheel has packed in so i can't scroll up and down without using scrollbars. Any way I can get them back?

[2015-11-22 17:51] teknologist opened #18 "weird background on inactive tabs"
Hi,

i was wondering if anyone came across this one. A picture is worth a thousand words.
This happens on OSX El Capitan 10.11.0 and 10.11.1. On a Desktop computer using an NVIDIA card as well as a MacBook Pro. atom version 1.2.3

NOTE: That background patter changes colors every time I restart atom.

![screen shot 2015-11-22 at 18 46 42](https://cloud.githubusercontent.com/assets/148448/11325266/

[2015-11-23 07:47] matthewjrallen commented on #17
I found the code. its in atom.less

[code]

[2015-11-23 07:47] #17 closed, assigned to nobody

[2015-11-24 08:51] fv0 commented on #18
@teknologist I've never seen this and can't tell where this background comes from. What other packages have you got installed? I have Atom 1.2.2 installed and everything runs fine.

[2015-11-24 08:53] fv0 commented on #16
@Luminess That's a good point. Can you provide a screenshot where I can see the problem more clearly?

[2015-11-25 00:36] LuminescentMoon commented on #16
![http://i.imgur.com/PQvhlpS.png](http://i.imgur.com/PQvhlpS.png)

[2015-11-25 09:21] fv0 opened #19 "Links on gray don't contrast well"
<img width="392" alt="screen shot 2015-11-25 at 10 20 51" src="https://cloud.githubusercontent.com/assets/8401092/11393153/47d03e3a-935e-11e5-90ec-0e3beaeaad23.png">

[2015-11-26 08:54] fv0 commented on #16
@Luminess Thanks. Will include the fix in the next release.

<img width="279" alt="screen shot 2015-11-26 at 09 53 32" src="https://cloud.githubusercontent.com/assets/8401092/11418816/a367d436-9423-11e5-8fac-fad69437a789.png">

[2015-11-29 21:41] #16 closed, assigned to nobody

[2015-11-29 21:41] #19 closed, assigned to nobody

[2015-11-30 05:53] swrobel opened #20 "Release notes/Changelog?"
Love the theme - would be nice to know what changes in each version.

[2015-11-30 12:57] chriskrycho commented on #20
:+1: Concur, strongly!

[2015-12-01 09:10] fv0 commented on #20
Thanks for the feedback, @swrobel. Will start doing this with the next release.

[2015-12-01 16:35] fynnit opened #21 "Dark mode"
are you planning on developing a dark mode, as theres one in El Capitan? (no pressure here :smile:)?

[2015-12-02 07:54] net commented on #21
+1

[2015-12-02 10:10] fv0 commented on #21
Yes, I already started working on a dark theme but then some other issues occured with the light theme. When the light theme has reached a version where you and I can't find any serious bugs anymore, then I will fork the theme and adapt it. All I can say is that the dark tone will slightly adapt to your used syntax theme background color (similar to the default _One Dark_ theme from Atom).

[2015-12-02 13:27] fynnit commented on #21
awesome. looking forward to that!

Ferdinand schrieb:

[2015-12-03 00:10] jordwalke opened #22 "Border bottom radius on popup window when no description."
![screen shot 2015-12-02 at 4 08 30 pm](https://cloud.githubusercontent.com/assets/977348/11548239/218cabc6-990f-11e5-90a4-217394cb2d4c.png)

I believe you wanted some rounding on the bottom radius when there's no description, right?

[2015-12-03 09:32] fv0 commented on #22
Yes, that's right. Will look into this.

[2015-12-06 22:20] Teggy commented on #22
Hi all,

one unrelated question (my apologies für hijacking this issue): What would be the name of the font in the screenshot above?

Thanks and cheers,
  —Torsten

[2015-12-08 10:16] fv0 commented on #22
@Teggy: Guessing my typographic eye, I'd say that is [PragmataPro](http://www.fsd.it/fonts/pragmatapro.htm#.US2yeBmGYS8).

Can you confirm that, @jordwalke?

[2015-12-09 00:43] jordwalke commented on #22
Yes.

[2015-12-09 00:43] jordwalke commented on #22
Worth every penny.

[2015-12-09 20:27] blimmer commented on #21
+1 - really like the native look and feel but it was too bright for me.

[2015-12-10 14:20] ghost opened #23 "Git modified file names look bad in the titlebar"
When a file has been modified in a git repo, the filename in the tab bar changes color based on the change. Eg. yellow when the file has changed and green when the file is new. This looks absolutely terrible on the top tab bar since there is no contrast at all.

<img width="380" alt="screen shot 2015-12-10 at 7 49 46 pm" src="https://cloud.githubusercontent.com/assets/13653918/11717547/3e6992fe-9f

[2015-12-10 19:48] ricardoaugusto opened #24 "Low contrast on tabs"
It's very hard to read the green tab text when a new file is opened and is under git versioning.

<img width="495" alt="screen shot 2015-12-10 at 5 37 54 pm" src="https://cloud.githubusercontent.com/assets/7663281/11726257/f334e1f6-9f64-11e5-9f07-f1f511d69953.png">

Issue happens when using native-ui and is syntax independent.

Maybe change that to a circle, like so:

<img width="379" alt="screen

[2015-12-10 19:49] ricardoaugusto commented on #24
Sorry duplicate, should merge this into #23

[2015-12-10 19:49] #24 closed, assigned to nobody

[2015-12-10 19:54] ricardoaugusto opened #25 "Sidebar improvements"
Sidebar should behave the same as tabs, when notifying about changes/edits/new files.

<img width="431" alt="screen shot 2015-12-10 at 5 52 12 pm" src="https://cloud.githubusercontent.com/assets/7663281/11726651/cc3420f6-9f66-11e5-9ea1-8a7d9bb8f3b8.png">

<img width="188" alt="screen shot 2015-12-10 at 5 52 01 pm" src="https://cloud.githubusercontent.com/assets/7663281/11726647/c6af4a84-9f66-11e5-

[2015-12-10 19:54] ricardoaugusto commented on #25
Related #23

[2015-12-11 14:39] fv0 commented on #23
Have you got any plugins installed that do this? This file in my Git repository has been modified and looks like this in my tab bar:

<img width="440" alt="screen shot 2015-12-11 at 15 37 48" src="https://cloud.githubusercontent.com/assets/8401092/11746230/4484fcf4-a01d-11e5-97b6-6135eedff50f.png">

[2015-12-11 14:50] aniforprez commented on #23
Ok same guy different account.

This is exactly what someone on another theme account told me 'How does it color the name?'.

It's actually the core tabs plugin! It's got an option that allows coloring of VCS edited files. Just go to tabs > Settings > Enable VCS Coloring

[2015-12-12 03:53] marcgalloway commented on #21
+1 - I liked it overall but a dark theme would be better.  Looking forward to it!

[2015-12-14 09:50] ghost opened #26 "Minimap selected items are not easily visible"
![screen shot 2015-12-14 at 3 17 56 pm](https://cloud.githubusercontent.com/assets/13653918/11777667/e42efe12-a275-11e5-8de2-8283f140124f.png)

The selected items on the minimap (using package minimap-highlight-selected) are very dim in color (since they're completely black) and are hence not easily distinguished. The currently selected item is even less distinguishable since it's a weird grey col

[2015-12-15 09:12] fv0 commented on #23
Thanks for clearing that up. I can just recommend to deactivate this option until I find a good solution for this.

<img width="1006" alt="screen shot 2015-12-15 at 10 08 27" src="https://cloud.githubusercontent.com/assets/8401092/11806538/139d93cc-a314-11e5-8b72-200b6da6c6d0.png">

[2015-12-15 09:14] ghost commented on #23
I don’t think I’ll deactivate a feature I find very useful but I know that you need time if you are trying to fix this and it is a very minor visual issue that does not impact any actual coding so I can live with it.

[2015-12-15 09:17] fv0 commented on #25
@ricardoaugusto For now I recommend you disable the VCS coloring in the settings of the "tabs" package ([See here](https://github.com/fv0/native-ui/issues/23#issuecomment-164694843)). The sidebar should usually show different colored and filled circles for the Git status of the file. Have you got [file-icons](https://atom.io/packages/file-icons) installed?

<img width="230" alt="screen shot 2015-1

[2015-12-15 16:33] mgoodness opened #27 "Unable to click/scroll in palette"
I'm unable to scroll through or click on items in the Command Palette. Nor can I click on dialog buttons (e.g. Git Plus: Unstage files). Scrolling has no effect, and clicking simply dismisses the palette/dialog. I can only use the keyboard to interact. Everything seems to work correctly with other UI themes.

Using native-ui v0.10.0 on Atom v1.3.1 in El Capitan

Happy to help troubleshoot. Any ide

[2015-12-16 16:37] natew opened #28 "Strong border on tabs"
This looks different from the screens in the repo for me, is it a bug?

![image](https://cloud.githubusercontent.com/assets/12100/11847032/4cfaf562-a3d0-11e5-98e4-2287f6bfdbae.png)

[2015-12-16 20:27] lexicalunit commented on #27
I'm also seeing this behavior on Atom 1.4.0-beta1, OS X El Capitan.

[2015-12-16 20:53] lexicalunit opened #29 "Scrollbar vertical height & theming"
See here:

<img width="530" alt="screen shot 2015-12-16 at 2 33 24 pm" src="https://cloud.githubusercontent.com/assets/1903876/11853183/0dcf3222-a402-11e5-86c6-e6e683149f6e.png">

It looks like the scrollbar extends a bit too far in the vertical directions here. See how it interrupts the bottom line of the tab and the top line of the status bar? It also stands out quite a bit compared to the solar

[2015-12-18 14:36] fv0 commented on #26
I didn't do any modifications to this. But you can adjust it in your user stylesheet according to [the packages README file](https://atom.io/packages/minimap-highlight-selected):

[code]

[2015-12-18 14:36] #26 closed, assigned to nobody

[2015-12-18 14:41] fv0 commented on #28
Are you using a high-resolution display? I don't really see a bug here though… The widths are always 1 pixel.

[2015-12-18 14:45] benjamin-rood commented on #21
+1 for the brooding mysterious stranger theme ;-)
Seriously, I just want it to blend better with the dark ui theme of El Capitan and the fact that I mostly code on a dark background.

[2015-12-18 15:16] fv0 commented on #29
Thanks for taking the time to write your detailed thoughts. This is what the scrollbar looks like on my display. In this case I don't know how to reproduce the scrollbar overlap which you have to be able to fix this. If you can help me out on this I can see what I can do.

<img width="398" alt="screen shot 2015-12-18 at 16 01 05" src="https://cloud.githubusercontent.com/assets/8401092/11899731/672

[2015-12-18 16:48] fv0 commented on #23
The current fix might change a bit in the future since I am not 100% satisfied with the understability of so many different colored circles. I'm maybe thinking about a small "M" badge for modified files and a "+" badge for added files. Similar to the file displays in the Git client _Tower_.

<img width="252" alt="screen shot 2015-12-18 at 17 46 45" src="https://cloud.githubusercontent.com/assets/8

[2015-12-18 17:01] ghost commented on #23
Hey that's really good. I also love the idea of M for modified and + for
new ones.

On Fri, Dec 18, 2015, 10:18 PM Ferdinand notifications@github.com wrote:

[2015-12-18 17:11] #22 closed, assigned to nobody

[2015-12-18 17:11] #27 closed, assigned to nobody

[2015-12-18 18:36] lexicalunit commented on #29
Oh man, I wonder what's going on with my scroll bars. Let me try and disable some packages and comment out stuff in my `styles.less` and see if I can figure it out.

[2015-12-18 18:54] lexicalunit commented on #29
So I deleted my `~/.atom` directory and started up Atom 1.3.2. I installed only the Native UI theme and the minimap package. The vertical extension of the scrollbar only really stands out for some syntax themes, particularly the lighter ones:

With One Dark, there doesn't seem to be an issue:
![one-dark](https://cloud.githubusercontent.com/assets/1903876/11904492/1c118c10-a586-11e5-96e8-b41f18630e

[2015-12-18 19:46] lexicalunit commented on #29
Here's the issue with lighter syntax themes zoomed in:
![zoom](https://cloud.githubusercontent.com/assets/1903876/11905401/f7a97184-a58b-11e5-96c2-5b6bd9c8ab77.png)

The issue seems to be the 1px inside bevel just between the tab bar and the editing area. You can clearly see this in the following light themes:
- Atom Light
- Base16 Tomorrow Light
- One Light
- Solarized Light

This 1px bevel actua

[2015-12-18 20:32] natew commented on #28
Hm yea I guess it's the shadow that casts upwards.

![image](https://cloud.githubusercontent.com/assets/12100/11906687/50b56386-a583-11e5-887b-147a05b0e32b.png)

Shouldn't that 1px not exist? It prevents the theme from looking truly native.

Also when inactive the tabs should also go inactive I think:

![image](https://cloud.githubusercontent.com/assets/12100/11906696/6747dd68-a583-11e5-8ada-27f34

[2015-12-19 10:01] traverse opened #30 "Move left-side border on editor to treeview?"
Could I suggest to maybe move the left-side border on the editor to the treeview because when you hide the treeview currently you still see a border which to me seems out of place.

It's kind of hard to see in the picture unless you have a dark background.

![screenshot from 2015-12-19 10 40 06](https://cloud.githubusercontent.com/assets/7240988/11912467/f3fc0ddc-a63d-11e5-9038-304a36a247bc.png)

[2015-12-20 18:32] aniforprez commented on #23
Awesome. There's some difficulty in simply glancing and finding out the status when the tab stretches across the whole tab bar when there is only one file open because the indicator is in the far right but it will definitely do the job and looks better than the ugly coloring it used to be.

[2015-12-21 04:25] #23 closed, assigned to nobody

[2015-12-21 09:02] #18 closed, assigned to nobody

[2015-12-21 09:03] fv0 commented on #20
Started doing this with 3a8faf8dcfd1242f49b630b3ead131fd255df549.

[2015-12-21 09:03] #20 closed, assigned to nobody

[2015-12-21 14:53] fv0 commented on #28
Are you using the latest version (0.11.0)? This is what it looks like in my editor.

<img width="733" alt="screen shot 2015-12-21 at 15 52 23" src="https://cloud.githubusercontent.com/assets/8401092/11933242/fc2fe352-a7fa-11e5-9c94-5220bbe8f9f9.png">

[2015-12-21 18:01] natew commented on #28
Yea see that looks fantastic! I want that! I had just downloaded it when I opened the ticket. I can try again on this new computer I have here though.

Also would we have to campaign Atom themselves to try and allow getting rid of that last pixel? Would make a big difference.

[2015-12-21 20:37] swrobel commented on #20
:100:

[2015-12-22 09:35] fv0 opened #31 "Popup menu has background color"
Works great on dark backgrounds but light backgrounds show me this. Makes the box seem square. Will look at it.

<img width="302" alt="screen shot 2015-12-22 at 10 31 58" src="https://cloud.githubusercontent.com/assets/8401092/11952324/b36a3c74-a897-11e5-8a5c-7f0e6df99d6c.png">

[2015-12-22 22:23] sdaitzman opened #32 "Graphite version"
What about all the graphic design nerds with gray everything because we don't want our colors influenced by all that beautiful blue? :smile:

<img width="424" alt="screen shot 2015-12-22 at 5 19 46 pm" src="https://cloud.githubusercontent.com/assets/1499476/11967361/38e24fbc-a8d0-11e5-9b3b-29e6393a5285.png">

<img width="240" alt="screen shot 2015-12-22 at 5 22 18 pm" src="https://cloud.githubuser

[2016-01-06 15:31] fv0 commented on #32
I see at some point I will have to introduce a "Settings" menu, where you can do this ;) Thanks for mentioning.

[2016-01-06 21:35] sdaitzman commented on #32
:smile:

[2016-01-08 17:51] #28 closed, assigned to nobody

[2016-01-08 17:51] #25 closed, assigned to nobody

[2016-01-08 19:42] #29 closed, assigned to nobody

[2016-01-08 19:42] #30 closed, assigned to nobody

[2016-01-08 19:45] fv0 commented on #31
Fixed with 875293615409a6b9f9e28d7c1637c4d616eac2d0

[2016-01-08 19:45] #31 closed, assigned to nobody

[2016-01-09 02:18] xiaoxinghu opened #36 "ugly scroll bar"
I don't know if this is an issue or not. If not, please close this. I got very ugly scroll bar by using a dark syntax theme with the native-ui.

<img width="502" alt="screenshot 2016-01-09 15 17 29" src="https://cloud.githubusercontent.com/assets/1196745/12213800/320443d6-b6e4-11e5-8ddc-9ed312970b0c.png">

[2016-01-09 08:38] fv0 commented on #36
Hey Xiaoxing, if your hardware allows it, I can recommend using the following settings in your **System Preferences** → **General**:

<img width="412" alt="screen shot 2016-01-09 at 09 35 30" src="https://cloud.githubusercontent.com/assets/8401092/12215236/5d2d6644-b6b4-11e5-9fd6-53bdd171042b.png">

The scrollbars should then be gone. If you have them always visible this will be the outcome and I

[2016-01-09 16:35] papucho commented on #21
+1 Great!

[2016-01-10 08:51] #36 closed, assigned to nobody

[2016-01-12 19:46] seemethere commented on #21
+1 I would love a dark theme

[2016-01-18 18:02] vieko commented on #21
+1 awesome work so far, looking forward to your Dark UI

[2016-01-20 16:38] lexicalunit opened #39 "Line between tree-view and editor vanishes"
Not sure if this is intentional or not, but when a file name extends beyond the width of the tree view, the hard line between it and the editor vanishes:

![out](https://cloud.githubusercontent.com/assets/1903876/12455547/be81a2c4-bf61-11e5-8016-64487c5f1538.gif)

[2016-01-22 14:35] fv0 commented on #39
@lexicalunit I uploaded a potential fix in the latest version. Can you approve that it works for you?

[2016-01-22 14:38] fv0 opened #40 "Update screenshots"
Some things changed visually. Will do this in the next release.

[2016-01-22 18:54] lexicalunit commented on #39
Confirmed, I can't recreate this bug on version 0.14.0 :+1:

[2016-01-22 18:54] #39 closed, assigned to nobody

[2016-01-23 07:22] #40 closed, assigned to nobody

[2016-01-24 11:13] leo opened #41 "Did you accidentally change back the colours of the tab bar?"
Please correct me, if I'm wrong. But didn't I fix the colours for the inactive tab bar in #37? Because now, they look wrong again. Here's a comparison to the native tabs:

**Your theme:**

<img width="891" alt="screen shot 2016-01-24 at 12 10 22" src="https://cloud.githubusercontent.com/assets/6170607/12535908/b8c349b6-c293-11e5-9c7f-5c71bf90f08b.png">

**Native tabs:**

<img width="1035" alt="scr

[2016-01-25 09:51] acstll opened #42 "package.json file icon out of place"
Hi there, first of all thank you for your work on this theme.

This could be a bug but I'm not sure. The icon for the package.json is out of place, below where it should be. Other `.json` icons show up ok. If I switch to other themes, it shows ok too, this only happens while using `native-ui`.

Any ideas?

![](http://arturu.com/ruleta/native-ui-them-bug.png)

[2016-01-25 09:52] fv0 commented on #41
Yes, that's true. The `.is-blurred` selector needed to be applied to a whole lot of other elements too and for ease of maintenance I moved the selector to the global workspace selector that gives everything a reduced opacity. I also turned out that the active and inactive background colors for the tabs didn't contrast enough for my taste. The theme will never appear and behave 100% accurate. OSX d

[2016-01-25 10:01] #42 closed, assigned to nobody

[2016-01-25 10:03] fv0 commented on #42
Yes, there are some custom styles for some icons of the package _file-icons_. The error was that the icon didn't look for the scope selector of [file-icons](https://atom.io/packages/file-icons). So if you install this package everything should look fine. The top margin was done to align it properly with the file name (see image).

<img width="240" alt="screen shot 2016-01-25 at 10 57 54" src="http

[2016-01-25 10:07] acstll commented on #42
Now I get it, I'm not using file-icons. Will update then (as usual :smile:). Thanks a lot.

[2016-01-25 10:32] leo commented on #41
WOW. Saying that OS X has parts that aren't perfectly designed, is a really big thing to say. :smile_cat: I mean, those guys are the prime of what's currently possible, if you ask me.

However it's your theme, so we'll have to live with your changes... :see_no_evil:

[2016-01-25 21:23] leo commented on #41
Okay. I probably won't be able to convince you, but nevertheless, I'd like to know the reason why you've completely removed the blurred window state. :blush:

I'm just really interested in the answer behind that idea. Because in my mind, it simply makes much more sense to treat the work of making it look like the native UI with a higher priority than making it look "better". What do you think abou

[2016-01-26 09:55] fv0 commented on #41
I totally see your point. It's not that I don't like it, it just wasn't implemented too well yet. That's why I kicked it out for now. Your solution worked for the tabs but in other parts of the interface I had to manually adjust border colors and this just became a bit too "hacky". I've started working on a better approach to it, because I agree with your thoughts about the native behaviour and th

[2016-01-26 12:13] leo commented on #41
:ok_hand:

[2016-01-26 12:13] #41 closed, assigned to nobody

[2016-01-27 08:08] hex commented on #21
+1

[2016-01-29 14:27] laughedelic opened #43 "Too big font of the interface"
I'm not sure if this is related to this theme or just the [Ensime plugin](https://github.com/ensime/ensime-atom) that I'm using, because I didn't use it for some time (also lately this theme was updated frequently). So I'd like @hedefalk also to see it.

Here you can see that the font of the Ensime output window is way too big. But also the font of the settings page it quite big comparing to the o

[2016-01-29 21:07] hedefalk commented on #43
This is definitely Ensime:

https://github.com/hedefalk/ensime-atom/blame/master/styles/ensime.less#L41-L42

I think it was intentional. We'll have to ask @d6y - we're 2 against 1 that the font is too big, mind if we make it smaller? :)

[2016-01-29 21:36] d6y commented on #43
Wow - that looks huge. Sure - go for it! Thanks.

On Fri, 29 Jan 2016 21:07 Viktor Hedefalk notifications@github.com wrote:

[2016-01-31 07:45] planetpratik opened #44 "Unable to see new replaced icon on Mac"
Hello Ferdinand, I am using OS X El Capitan. I've downloaded Atom.icns from the link in the description of theme, And replaced it in the "Resources" folder as shown below.

<img width="786" alt="1" src="https://cloud.githubusercontent.com/assets/12500760/12700889/2e0887c2-c81b-11e5-8723-668d784999fc.png">

Then i've restarted Mac & found out that, Atom icon is no more visible. Please check the 2 p

[2016-01-31 13:00] fv0 commented on #44
This isn't an issue with the icon, it's the process of how to change an icon on OSX El Capitan. Take a look at [this how-to guide](http://hashbangstar.net/blog/changing-icons-in-el-capitan). Just copying it in the `Resources` folder didn't work for me either.

[2016-01-31 13:00] #44 closed, assigned to nobody

[2016-01-31 13:00] fv0 commented on #43
Could you move the discussion over the ensime package? I'll close this for now :)

[2016-01-31 13:00] #43 closed, assigned to nobody

[2016-01-31 13:22] planetpratik commented on #44
Thanks man.. It solved the issue..! 

Sent from my iPhone

---

From: Ferdinand notifications@github.com
Sent: Sunday, January 31, 2016 6:30 PM
Subject: Re: [native-ui] Unable to see new replaced icon on Mac (#44)
To: fv0/native-ui native-ui@noreply.github.com
Cc: Pratik Chougule planetpratik@live.in

Closed #44.

—
Reply to this email directly or view it on GitHub.

[2016-01-31 18:46] smlombardi opened #45 "Deprecation cop reports 2 errors"
Use the atom-text-editor tag instead of the editor class.

Use the selector atom-text-editor[mini] to select mini-editors.

[2016-02-05 15:57] #45 closed, assigned to nobody

[2016-02-09 17:41] mattchue commented on #21
+1, love the current version, a dark theme would be even better.

[2016-02-18 15:25] leo opened #47 "Hide tab bar if only one file open"
I don't now what's the best way to do this (probably using JS), but it seems like a great idea to me to simply hide the tab bar as long as only one tab is open. We simply don't need to show it since the top bar already includes the path/name of the current file.

![Screenshot](https://cloud.githubusercontent.com/assets/6170607/13147847/e1528c36-d65a-11e5-98e3-ab051cfe1f84.png)

Like all native win

[2016-02-24 13:26] krisis-nl opened #48 "Atom-panel.modal::before positioned absolute, making elements within the modal unreachable."
When I tried to use this theme together with the package [project-viewer](https://github.com/jccguimaraes/atom-project-viewer) I noticed [something weird](https://github.com/jccguimaraes/atom-project-viewer/issues/30) happening with content in the modal panels.

As I found out, a styled `::before` element of the modal itself, which is positioned absolute, prevents the user from accessing certain e

[2016-02-28 05:48] akivajgordon opened #49 "Match OS X tab-dragging behavior"
Might be out of the scope of this project, but is there a way to get OS X's native tab-dragging behavior in the mix? That is, when dragging a tab, it:
- only moves horizontally, regardless of cursor's vertical movement
- pushes the adjacent tab into its original space to make room for the new drop location as soon as the cursor crosses the adjacent tab's boundary (with animation)
- _does not_ show

[2016-02-29 08:41] fv0 commented on #47
If it's possible to do it without adding extra weight to the theme with JS, I think it's a good idea. I don't want to sacrifice speed for aesthetics.

[2016-02-29 20:40] apemsel commented on #21
+1, would love to see that since I enjoy the level of integration with OSX but light grey bars are a bit distracting with dark syntax themes

[2016-03-01 12:23] juni0r commented on #44
The icon change doesn't survive Atom updates however. I guess there is no way around this, is there?

[2016-03-01 14:07] fv0 commented on #44
@juni0r Nope, that's not an issue with the icon but with Atom.

[2016-03-02 00:53] mfunkie commented on #48
Maybe even just adding `z-index: -1` would help out a ton.

[2016-03-19 17:01] sbromberger opened #51 "Love the theme, but..."
Is it possible to change the font used in the settings input boxes? ~~I don't know what's being used but~~ it's way too wide for my tastes. (Screenshot attached.)

<img width="614" alt="screen shot 2016-03-19 at 10 00 27" src="https://cloud.githubusercontent.com/assets/941359/13900021/80435b8e-edb9-11e5-96b0-cacc86074c94.png">

(Edit: it looks like it may be whatever's used in the Atom editor wind

[2016-03-21 08:38] fv0 commented on #51
Yes, that's right. This is Atoms default behaviour. If you change it in your editor it changes in the input fields. System monospace fonts are mostly ugly and I don't want to enforce this. If you want to change this you could of course do this in your user stylesheet (**Atom** → **Stylesheet**).

[2016-03-21 08:38] #51 closed, assigned to nobody

[2016-03-21 14:40] sbromberger commented on #51
The Unity UI has a different font (Helv?) for input boxes regardless of the editor window font. Is there a font setting for just the settings input boxes?

[2016-04-16 19:30] nonameolsson commented on #21
+1

[2016-04-20 21:41] dahjelle opened #53 "Search and replace bar shorter?"
Love your theme—thank you!

I was curious if it would be possible to make a more vertically-compact find-and-replace panel at the bottom? (Is that even part of a theme's responsibility?) I usually don't search for long strings, so most of the find/replace boxes are left white, and I'd love to have some vertical space back.

Thoughts?

[2016-04-22 06:30] fv0 commented on #53
I'm glad that you like my theme. Of course I could build a myriad of options and customization options for Native UI but that would mean giving up control over the design. You can tweak this in your Atom custom stylesheet.

[2016-04-22 06:30] #53 closed, assigned to nobody

[2016-05-10 13:11] fv0 commented on #48
@dakrisis Does the problem still exist after updating to the newest version?

[2016-05-10 14:22] paulozoom opened #55 "v0.18.1 hides tabs"
After updating to the latest version, the tabs were immediately gone:

![screen capture on 2016-05-10 at 16-21-13](https://cloud.githubusercontent.com/assets/69427/15149834/6124d742-16cb-11e6-86a4-ca0003f0548f.gif)

[2016-05-10 14:26] heinst commented on #21
👍 , any update on this?

[2016-05-10 14:28] fv0 commented on #55
@paulozoom It works fine on my machine. What other packages have you got installed? Unfortunately I wasn't able to reproduce the missing tab bar you got.

[2016-05-10 14:30] fv0 commented on #21
@heinst There's a early beta on my machine, but it's not ready for a release yet. I'm working on it… side projects take their time :)

[2016-05-10 14:34] jsmecham commented on #55
I also see this behavior.

[2016-05-10 14:38] heinst commented on #21
Sweet thanks! @fv0

[2016-05-10 14:39] fv0 commented on #55
@paulozoom @jsmecham
I think this might have to do with #47. Could you open the package and delete or comment lines 25–27 in `styles/panels.less`? Tell me if it works, then I will remove that part and publish a patch version.

Thanks for your help.

[code]

[2016-05-10 14:42] jsmecham commented on #55
Removing this rule (in `panes.less`) does indeed restore the tabs.

[2016-05-10 14:47] fv0 commented on #55
I removed the changes from #47 and published it as 0.18.2.

[2016-05-10 14:49] jsmecham commented on #55
Thanks!

[2016-05-10 15:05] paulozoom commented on #55
Seems to have fixed it for me too.

[2016-05-10 15:05] #55 closed, assigned to nobody

[2016-05-12 23:51] nomoon commented on #36
Unfortunately, Logitech USB mice (maybe all USB mice) seem to cause these bars to always appear, even when the "Automatic" setting is selected.

I'll try a mighty mouse tonight.

[2016-05-27 01:21] simurai opened #56 "System colors"
So @kevinSuttle dug up this old (2009!) post about using the [system colors in CSS](https://www.sitepoint.com/css-system-styles/). And the cool part is that it adapts to the changes in the settings:

![colors](https://cloud.githubusercontent.com/assets/378023/15594793/fd76a7c6-23f3-11e6-95f9-57e9cc0decdb.gif)

Might be neat to use them in this theme?

[2016-05-27 05:14] kevinSuttle commented on #56
Works.

![electron-css-system-properties](https://cloud.githubusercontent.com/assets/95672/15598466/69357e02-23a8-11e6-81de-a475bcf8bc8e.gif)

[2016-05-27 05:39] fv0 commented on #56
This looks very cool. Thanks to both of you. I'll implement this and test it. That would be a great step forward.

[2016-05-27 05:39] #48 closed, assigned to nobody

[2016-06-03 20:16] jamesplease commented on #47
Is this fixed as of 0.18.0? If so, the issue can prob be closed :v:

[2016-06-03 20:26] leo commented on #47
I looks like @fv0 simply removed the code because it spawned an issue (instead of modifying it to make it work)... 😄 So the feature currently isn't part of the package.

[2016-06-03 20:33] jamesplease commented on #47
Ah okay, gotcha!

[2016-06-04 05:05] fv0 commented on #47
@jmeas Yes, after implementing this the issue #55 occured. I haven't put the time in to figure it out why it broke things for people.

[2016-06-04 05:07] jamesplease commented on #47
Npnp :v:

[2016-07-06 08:24] samirotiv opened #57 "Status bar covers the Tree View pane"
Hi,
The screenshots show that the status bar needs to stop short of tree view. But this doesn't seem to be working on Atom 1.8.0 and the version of the plugin installed a few minutes back.

Attaching a screenshot.

Best regards,
Samir.
![screen shot 2016-07-06 at 1 52 36 pm](https://cloud.githubusercontent.com/assets/4405935/16611781/16dbc08c-4381-11e6-8ad1-cf3c3d8fbc70.png)

[2016-07-06 21:33] jamesplease commented on #49
The drag behavior when the mouse remains near the tab bar seems doable. I'm curious to know if it's possible to emulate the behavior when you drag a Finder tab far away :) My guess is that it isn't tho (transforming the 'ghost image' like that seems like it'd be a real challenge)

[2016-07-07 04:36] akivajgordon commented on #49
I would say that the tear-away behavior that you mention would be a real bonus, but I'd be most interested in the behavior that I originally enumerated.

[2016-07-07 04:53] jamesplease commented on #49
Same 👌

I might slowly, slowly work on this. I'll be posting any updates I have in this comment.

The first thing is the "green plus" that appears when dragging. This is because something somewhere is turning the `cursor` to be `copy`. It's not in the `tabs` package, so...the search continues. I don't think that it's default webkit behavior, but maybe?

**Update:** the cursor behavior seems to be

[2016-07-07 07:28] fv0 commented on #49
Thanks for the efforts. I'd always keep in in mind if this little feature is really worth the potential performance downturns and if it behaves fluid and smooth. At the end you need the editor to be a reliant workhorse for code. But go for it, I'd like to at least see it :wink:

[2016-07-07 09:18] fv0 commented on #57
I can't tell a lot from your screenshot. Here it works just fine. Can you give me some more information? You're the first one to report this.

![screen shot 2016-07-07 at 11 17 57](https://cloud.githubusercontent.com/assets/8401092/16648471/864ba992-4434-11e6-96a3-6b88a91482c9.png)

[2016-07-07 09:21] fv0 commented on #49
Just stumbled across this: https://github.com/atom/tabs/pull/252
Currently in Atom 1.9.0-beta0 → http://blog.atom.io/2016/06/06/atom-1-8-and-1-9-beta.html

[2016-07-08 20:52] mckennajones commented on #21
@fv0 Any updates on this? Is there anyway we could gain access to the beta to test it out and maybe help with development? Loving the theme, but it's a bit distracting when using a dark syntax theme.

[2016-07-11 09:43] fv0 commented on #21
Dear @mckennajones, no progress yet. I'm kneedeep into my Bachelor thesis for a couple of months. Finished at the end of this month luckily! Thanks for the offer, I'd love to release an early version and get feedback from you guys. I realize this is a heavily requested version of NativeUI. Thanks for the patience!

[2016-07-13 03:50] simurai opened #59 "Native controls"
Atom `1.10` will introduce a couple input controls that adapt to the theme colors, see https://github.com/atom/atom-ui/pull/8.

Not sure if this theme would prefer to keep those controls native looking? I saw that the checkboxes in the settings are custom styled. _If_, you could **opt-out** like this: https://github.com/orderedlist/unity-ui/pull/85

[2016-08-08 04:58] jamesplease commented on #57
I'm seeing what's in the original issue, rather than what's in your screenshot, @fv0. It's been this way for awhile now. Here's a snippet:

![image](https://cloud.githubusercontent.com/assets/2322305/17469653/041c9d54-5cea-11e6-9970-ff7c30e95b63.png)

Not too sure what could cause this difference, though. Maybe either you or the two of us have a setting configured that causes this different behavi

[2016-08-08 05:34] fv0 commented on #57
@jmeas What version of Atom do you have? There have been some changes to Atom and the current version of the theme makes it look like this for me. I haven’t updated the screenshots yet, thats why it looks a bit different in the status bar.

Atom 1.9.6.
Native UI 0.18.3

![screen shot 2016-08-08 at 07 27 25](https://cloud.githubusercontent.com/assets/8401092/17470065/a68e5d08-5d39-11e6-8e05-e1bcad4

[2016-08-08 06:05] jamesplease commented on #57
Both of my computers have the latest versions of every package (and Atom). To be more explicit, they're both using the same version of Atom (1.9.6) and Native UI (0.18.3) that you are.

Did you run some command to generate that nice list of packages, or is there a way to export the list in that format?

[2016-08-08 06:07] fv0 commented on #57
@jmeas Yes, go to your terminal. If you have the Atom Package Manager installed you can type `apm list` and then just copy the output.

[2016-08-08 06:11] jamesplease commented on #57
Thanks @fv0 . Here's my list:

<details>
  <summary>

Installed packages (Click to expand)</summary>

[code]

</details>

I tried disabling every community package that I have, and rebooted Atom, and that didn't seem to help.

@fv0, if you open up DevTools, what's the HTML structure of the status bar/tree view look like?

[2016-09-10 10:05] sndrs opened #60 "system font missing in sierra"
it looks like the `font-family` name needs to be `BlinkMacSystemFont` now?

not sure what it would be for headlines...

[2016-09-12 11:09] fv0 commented on #60
Can you provide a screenshot?

[2016-09-12 11:16] sndrs commented on #60
i'm using a temporary overide in my global `styles.less` file, but this is the tab and nav bar without the override:

![screen shot 2016-09-12 at 12 10 12](https://cloud.githubusercontent.com/assets/867233/18433941/36919a64-78e2-11e6-997e-07cfcc6b805e.png)
![screen shot 2016-09-12 at 12 10 24](https://cloud.githubusercontent.com/assets/867233/18433946/3af1fc02-78e2-11e6-9252-88c50e57489a.png)

and

[2016-09-12 11:24] fv0 commented on #60
Thanks. I’ll have to find out how this behaves for the headings, because the characters are a bit more dense in that font style.

[2016-09-13 08:06] #60 closed, assigned to nobody

[2016-09-13 08:08] fv0 commented on #60
@sndrs Can you confirm that the new version fixes your issue?

[2016-09-13 08:08] #59 closed, assigned to nobody

[2016-09-13 08:12] fv0 commented on #57
Do you want to see the code that it displays to me? What information do you need? :-) Unfortunately I wasn’t able to reproduce the error.

[2016-09-13 09:07] sndrs commented on #60
yep, looks great :)

:+1:

[2016-09-13 15:19] jamesplease commented on #57
@fv0 i posted a gif above of the html in my editor that's responsible for what i'm seeing. a similar gif or screenshot of that section of your editor could be helpful.

[2016-09-18 16:30] #57 closed, assigned to nobody

[2016-09-18 16:42] jamesplease commented on #49
Based on the above behavior, I think this issue can be closed. I agree that emulating the native behavior is best when possible, but in this case I don't think it's worth losing the layout management behavior.

What do others think?

[2016-09-26 13:26] #49 closed, assigned to nobody

[2016-10-30 18:41] fv0 commented on #56
Closed because not cross-platform compatible.

[2016-10-30 18:41] #56 closed, assigned to nobody

[2016-10-31 04:31] kevinSuttle commented on #56
Can you explain that?

[2016-10-31 18:36] fv0 commented on #56
@kevinSuttle I can’t imagine that the colors appear exactly the same on every OS. What do you think?

[2016-10-31 19:22] kevinSuttle commented on #56
They don't appear the same, no.

[2016-10-31 23:56] simurai commented on #56
You could scope it to only macOS with the `.platform-darwin` class.

[code]

but not sure.. maybe that's too much work to maintain for many 3rd party packages.

[2016-11-06 09:20] fv0 commented on #56
@simurai Yes, I agree with that. Thanks for your feedback. I think it could turn out as a problem to maintain in the long run. These are just some of the limitations that we’ll have to accept since Atom itself is not a native Mac app and therefore can’t fully behave like one. The tab dragging behavior was a similar request that couldn’t be fulfilled without extensive Javascript fiddling.

[2016-11-11 00:28] int3h opened #61 "Atom v1.13.0: Deprecated selector in `native-ui/index.less`"
As of Atom v1.13.0, `atom-text-editor` elements no longer use the shadow DOM. See atom/atom#12903 for details.

Accordingly, in Atom `1.13.0-beta0`, Deprecation Cop spits out the following warnings for the `native-ui` package. While Atom v1.13.0 tries to automatically fix the selectors by dynamically rewriting them, there appear to still be bugs with native-ui (I've specifically noticed modal popu

[2016-11-16 20:36] fv0 commented on #61
Wow, thanks for the heads-up, Matt.

I got it working in 1.13.0-beta3 but now of course the stable version is all messed up, since it still relies on the `atom-text-editor[mini]` selector. Any thoughts on how to get compatibility in both versions without releasing two different packages? I guess not everyone will update to 1.13.0 immediately when it’s released as a stable version. Many will just s

[2016-11-25 17:20] fv0 commented on #61
Fixed with newest release. Updates will only be applied to Atom versions >1.13.0. You can define this in your `package.json` file.

[2016-11-25 17:20] #61 closed, assigned to nobody

[2016-12-10 00:48] int3h commented on #1
@phaedryx I noticed this very same problem with the file-icons package. It turns out that file-icons includes a better JS icon already, but it isn't used by default.

To fix that, I have the following snippet in my user `styles.less` (editable via `Atom->Stylesheet...`):

[code]

Screen shot:
![screen shot 2016-12-09 at 4 58 53 pm](https://cloud.githubusercontent.com/assets/567398/21069641/caa5901

[2016-12-10 00:56] int3h opened #62 "Don't hide text editor's scroll bar"
Right now, [atom.less](https://github.com/fv0/native-ui/blob/master/styles/atom.less) hides all scroll bars in Atom, using the following code:

[code]

Before Atom v1.13.0, this rule didn't affect the scroll bars of `atom-text-editor` elements, because those used a shadow DOM that insulated it from this global style. Atom v.1.13.0-beta0 removed the shadow DOM, though, and now native-ui hides scrol

[2016-12-13 13:40] #62 closed, assigned to nobody

[2017-02-12 11:05] pietrodn opened #63 "Problem with platformio-ide-terminal"
I'm using the native-ui theme together with the platformio-ide-terminal plugin. The problem is that the buttons of the plugin overlap with the name of the currently opened file.
![schermata 2017-02-12 alle 12 01 59](https://cloud.githubusercontent.com/assets/5058646/22861538/9239466c-f11b-11e6-845f-96eff4c4f36e.png)

[2017-02-12 18:32] fv0 commented on #63
Could you provide a screenshot that is a bit more detailed?

[2017-02-12 18:34] pietrodn commented on #63
Sure!
![schermata 2017-02-12 alle 19 33 17](https://cloud.githubusercontent.com/assets/5058646/22864916/3ebdc6b8-f15a-11e6-84a0-67c3a9d045aa.png)

[2017-02-14 09:43] pietrodn commented on #63
Related issue (and fix): https://github.com/platformio/platformio-atom-ide-terminal/issues/166

[2017-02-27 09:27] ghost commented on #63
@fv0 I've opened up a PR to resolve the styling conflict with the `platformio-ide-terminal` package.

[2017-03-15 19:24] UrsaDK opened #65 "Broken styling for git-view if placed on the left of the status bar"
I'm using `move-status-items` plugin and noticed that dragging `.git-view` on to the left of the status bar (inside `.status-bar-left`) breaks a lot of the styling.

Would be nice if .git-view could be placed on either side of the status bar...

[2017-03-20 16:44] rafaelgaspar opened #66 "Broken loading icon for linter 2"
![untitled](https://cloud.githubusercontent.com/assets/5567/24110747/077d5bca-0d73-11e7-90f3-c4e5bfcbf532.png)

I think the best approach for this would be to scope https://github.com/fv0/native-ui/blob/master/styles/progress.less#L4 with the html tag used outside busy-signal, since they use have their own tag `<busy-signal />`

[2017-03-30 21:52] DanFreed opened #67 "Project search results malformed"
I love the look of the theme, but the search results are oddly malformed.

You can see in the screenshot that the display doesn't always show the results within the file.  The blue highlight under the first filename should be a list of lines that contains the search results.

Scrolling through the results shows many examples of this.
![screenshot_77](https://cloud.githubusercontent.com/assets/7361

[2017-04-03 11:48] fv0 commented on #67
Hey @DanFreed

Your `styles.less` file looks fine, I don’t see any interference here. Maybe it’s best you open the Developer Tools in Atom and inspect the container of a single search result to see if there is some kind of plugin giving your a negative margin-bottom or something like that. You’re the first one to file this issue and it looks fine on my side.

[2017-04-04 10:21] laughedelic commented on #67
I have the same issue and I don't have any custom styles defined.

[2017-04-04 10:23] laughedelic commented on #63
This seems to be solved now

[2017-04-04 10:40] pietrodn commented on #63
Yes, it's fixed in the other plugin.

[2017-04-04 10:40] #63 closed, assigned to nobody

[2017-04-08 07:28] fv0 commented on #67
@laughedelic: Could you maybe too inspect the search results with the developer tools and see what’s making them overlap? It’s hard to diagnose this without knowing if there’s some kind of plugin interfering.

[2017-04-08 08:06] fv0 commented on #65
@UmkaDK Could you provide a screenshot?

[2017-04-08 08:08] #66 closed, assigned to nobody

[2017-04-08 08:14] UrsaDK commented on #65
Sure thing, will do! But I'm away at the moment, so it might take me a few hours... Would tomorrow be ok?

[2017-04-08 13:11] UrsaDK commented on #65
Got back a bit earlier then expected, so ... There are three screen shots attached to this post:

1. a view of the broken styling when `.git-view` is on the  left of the statusbar
2. the same as 1 but with Dev Tools open
3. the same as one but with my fixes applied

Broken Styling:

<img width="765" alt="broken-styling" src="https://cloud.githubusercontent.com/assets/2833247/24829150/833810c0-1c64

[2017-04-08 13:20] UrsaDK opened #68 "Broken styling for linter-status-count (linter v2)"
It appears that with the release of linter version 2, html for the status counter has been updated and the counter now looks like this:

<img width="235" alt="broken" src="https://cloud.githubusercontent.com/assets/2833247/24829269/528beb34-1c66-11e7-9f4c-4acdd181a12a.png">

The following code updates the look of the counter to something a little bit more palatable:

<img width="184" alt="fixed" s

[2017-04-13 15:51] MikeNGarrett commented on #67
Suffering from the same issue.

It looks like the calculated vertical position of these elements is incorrect.
![screen shot 2017-04-13 at 11 50 21 am](https://cloud.githubusercontent.com/assets/394888/25012748/6ebdc8f4-203f-11e7-8860-3ae3ee7e5be5.png)

By the way, everything worked well since your last update. It was the latest update of Atom that broke search results styling.

[2017-04-14 14:05] dmo-odoo commented on #67
This bug affects me too ! I don't know how Atom search results used to work before, but now their position is computed using position:absolute and setting the top value, and it seems this computation is giving wrong results with respect to your theme.

[2017-04-14 15:02] #67 closed, assigned to nobody

[2017-04-14 15:05] fv0 commented on #67
I had to change the design of the search results. When I had a bit of distance between the search results it doesn’t compute the height of the results correctly anymore, which makes them overlap. This was introduced with 1.16 and this is the way we’ll have to roll until I find a work around. But it think it’s still more clear as the standard display of results.

Check the [`README.md`](https://git

[2017-04-18 15:34] lexicalunit opened #69 "Atom 1.17beta Docks"
Docks are a [new feature in Atom 1.17beta](http://blog.atom.io/2017/04/12/atom-1-16.html#introducing-docks). Currently they look a bit weird under `native-ui`.

![screen shot 2017-04-18 at 10 31 18 am](https://cloud.githubusercontent.com/assets/1903876/25139188/2fcba422-2422-11e7-83ff-106a22297f5e.png)

I was able to tweak things a little using my `styles.less`:

[code]

![screen shot 2017-04-18 a

[2017-04-21 11:34] fv0 commented on #68
This was implemented in the latest release. @UmkaDK, thanks for your proposal.

[2017-04-21 11:34] #68 closed, assigned to nobody

[2017-05-17 00:23] sbromberger opened #70 "Heads up: find in project is showing incomplete/incorrect results in 1.18.0 beta"
Hi,

Please ref: https://github.com/atom/find-and-replace/issues/896, specifically https://github.com/atom/find-and-replace/issues/896#issuecomment-301950247.

Summary is that "Find in Project" results are not correct when this theme (version 0.20.6) is enabled. Switching themes resolves the issue.

(I realize that beta support may be spotty, but I figure I'd give you a heads up anyway.)

This is

[2017-05-17 00:38] sbromberger commented on #70
Possibly related to #67?

[2017-05-17 19:00] DanFreed commented on #70
I can confirm this behavior as well.  It looks like it is an "off by one" issue. It always shows 1 less line in the results than there actually are.

[2017-05-18 02:12] heinst commented on #21
Any other news @fv0 ? Its been a while :/

[2017-05-22 18:24] jamesplease opened #71 "Tree view bugs in Atom 1.17"
**Atom version:** 1.17.0
**Native UI version:** 0.20.6

---

**The issue**

Sometimes, nested folders can appear in the wrong place, and the dots for the git status can go haywire. This tends to happen when the left bar is set to a small width and then resized.

This does not affect the built-in themes, such as "Atom Light" or "One Light", and I don't recall it happening before 1.17.0.

In these s

[2017-05-26 01:19] swrobel commented on #70
I'm seeing it as well in 1.17.2

[2017-05-31 16:13] DanFreed commented on #70
Anyone know how to patch the theme at least temporarily until an actual fix is released?

[2017-06-01 22:06] TheTourer commented on #70
Getting this as well. Troublingly, when there's only a single result per file, nothing shows at all, making the view effectively useless—can't action on anything that would open the file.

[2017-06-03 12:37] fv0 commented on #70
You can edit the theme and comment out the `project-find-results.less` file in `index.less`. This will put it back to its default state. I’m working on a fix at the moment though.

[2017-06-03 17:55] fv0 commented on #71
@jmeas I haven’t been able to reconstruct this bug. Could you give me some more tips when this exactly happens? See the attached GIF.

![kapture 2017-06-03 at 19 55 09](https://cloud.githubusercontent.com/assets/8401092/26755852/96b458d0-4896-11e7-9e95-a1ed39a4c56a.gif)

[2017-06-03 18:20] #69 closed, assigned to nobody

[2017-06-03 18:20] #70 closed, assigned to fv0

[2017-06-03 18:22] fv0 commented on #65
@UmkaDK How’s your issue going with latest update?

[2017-06-03 20:37] sbromberger commented on #70
Thank you, @fv0! testing now.

[2017-06-05 13:00] UrsaDK commented on #65
Just downloaded and installed version 0.21.0, disabled all custom styles and ... the spacing appears to be a lot better, but as you can see, branch name is still showing up as black on black. :(

<img width="294" alt="screen shot 2017-06-05 at 13 53 12" src="https://cloud.githubusercontent.com/assets/2833247/26784752/11aa94bc-49f7-11e7-85b4-2d89e7df09bb.png">

[2017-06-06 02:12] TheTourer commented on #70
Works again! Thanks so much @fv0; this theme makes Atom look like it should on macOS. It's the gold standard for native themes.

[2017-06-06 05:33] fv0 commented on #65
@UmkaDK That’s weird. Maybe you can answer these questions for me.

1. Have you got the latest version of Atom installed?
2. Does the text color of the branch change when you’re in a repo that has modifications?
3. What does the gray symbol stand for? Maybe you can inspect this and show me the HTML code structure for this part.

[2017-06-06 18:02] UrsaDK commented on #65
1. Atom version 1.17.2 (as of this moment, it's the latest available stable release)
2. In a repo that has modifications the colour of the branch _name_ doesn't change (it remains dark on dark), the colour of the branch _status_ text does change (to orange-ish).
3. The grey symbol indicates that I was editing a file which is ignored by git. :)

<img width="1142" alt="status-bar-inspect" src="https

[2017-06-14 18:52] fksimon commented on #71
Adding to this ticket do to the title.  Seems related.

![image](https://user-images.githubusercontent.com/5883310/27149207-cf9ecc5c-5110-11e7-9be6-a813561764ee.png)

In the lastest native theme in atom 1.17 my project tab is not really displaying as a tab.   Its just a big block at the top.   I am running on a mac pro with latest OS and patches.

[2017-06-14 19:55] jamesplease commented on #71
@fksimon my workaround for that weird project tab was to just set `display: none` on it, although

@fv0 , I'm happy to help out more with this issue, but it _always_ happens for me, so I can't really think of any other tips other than what's in the opening issue.

I'm reasonably confident it's not a package, because I just disabled all of them and it still happened. Also, I'm now on the latest ver

[2017-06-16 14:23] fv0 commented on #71
@jmeas @fksimon Sorry guys, I’m clueless how to fix this. I’ll leave it up to the community to make suggestions how to approach this. Everythings working fine for me and I haven’t heard from anybody else on this issue (and it’s quite a big one).

[2017-06-24 21:15] gabrie30 commented on #47
Would it be possible, instead of hiding the tab bar, to keep the maximum length to something smaller. Like how sublime does it.
<img width="600" alt="screen shot 2017-06-24 at 2 14 23 pm" src="https://user-images.githubusercontent.com/1512282/27511990-91ae2ecc-58e7-11e7-8b21-64bac259da89.png">

[2017-06-25 12:03] fv0 commented on #47
Yes that would be possible, but since Native UI tries to simulate a macOS experience it wouldn’t fit. I’d like to add a little option menu to the theme where the tab sizing could be turned from flexible width to fixed with, but I don’t know how to do create this menu.

Maybe someone has experience with this and knows how to set this up? Feel free to get in touch and we’ll make it happen for Native

[2017-08-10 07:51] the0neyouseek opened #72 "[Option] Tree View Vibrancy"
Now that Atom `1.19` is out, could we have an option to turn on vibrancy for the tree view ?

The `Javascript` api is as folllow :

[code]

For it to work the tree view and html element must have a transparent background like so (*I did this quickly so this can probably be improved*)  :

[code]

[2017-08-10 08:24] fv0 commented on #72
@the0neyouseek Very cool idea! I tried to emulate this with a slight gradient, but it was of course “faking” the real transparency effect. Do you know where and how would I implement the Javascript for Native UI?

[2017-08-10 09:07] the0neyouseek commented on #72
Have a look at [atom/one-light-ui](https://github.com/atom/one-light-ui) for example.

You need to define :
- A `configSchema` in [`package.json`](https://github.com/atom/one-light-ui/blob/master/package.json#L20)
- A  [`main`](https://github.com/atom/one-light-ui/blob/master/package.json#L13) js/coffee file to handle the different state (see [`lib/main.coffee`](https://github.com/atom/one-light-u

[2017-08-10 13:47] fv0 commented on #72
@the0neyouseek: I’d love to see this happen. My knowledge as a Designer is a bit limited in this case, could you help out and create a merge request for this feature? You can leave it in a basic state, I’d do the finetuning from there. From what you write you already got it working on your machine?

[2017-08-10 15:49] the0neyouseek commented on #72
Yeah sure no problem. I'll do it and make a pull request.
PS. If you want a temporary solution to see the result right now you can add the css to your `Atom` stylesheet which you can find in the menu <kbd>Atom</kbd>&gt;<kbd>Stylesheet…</kbd> and the script to your init script in <kbd>Atom</kbd>&gt;<kbd>Init Script…</kbd>

[2017-08-10 16:29] fv0 commented on #72
With my Init Script I get the message

[code]

But I think you’ll figure it out :-)

[2017-08-10 16:48] the0neyouseek commented on #72
Oops. It was `getCurrentWindow()` not `getWindow()` 😅. I've edited m'y first comment too

[2017-08-10 20:01] fv0 commented on #72
Do you have an idea how we could solve the display of an active file with CSS or JS-magic? Like in Apple Mail for example. Seems to be a reduced transparency only in that area.

![screen shot 2017-08-10 at 22 00 37](https://user-images.githubusercontent.com/8401092/29189588-6882aa3c-7e17-11e7-8302-8888eafd781e.png)

[2017-08-10 20:59] the0neyouseek commented on #72
Sadly, Atom only allow the whole window to have vibrancy...
So to achieve this effect youd've have to set the window the the "*active*" vibrancy, set the selected tree view item background to `transparent` and cover up the rest of the tree view with a white transparent mask to emulate a lighter blur, like `rgba(255, 255, 255, 0.3)` for example.
You can't just set the whole tree view to this color

[2017-08-11 17:00] #72 closed, assigned to nobody

[2017-08-11 19:32] laughedelic commented on #72
I updated it and restarted Atom, but I don't see this effect. How do I turn it on?

[2017-08-14 06:25] dmo-odoo opened #73 "Not sure the result I have is expected"
Hello,

I was just prompted to update native-ui, here is the result:
![screen shot 2017-08-14 at 08 22 06](https://user-images.githubusercontent.com/8427726/29260377-ca5a145c-80c9-11e7-990e-878274fa35cb.png)

It doesn't look very good (compared to before I updated the package, which looked like the screenshots in the readme of the repo), and I'm wondering if it's the intended look or if something

[2017-08-14 07:11] fv0 commented on #73
Hey David, are you on Atom 1.19? What happens if you deactivate the no-titlebar package?

[2017-08-14 07:18] dmo-odoo commented on #73
Hello,

Thank you for your reply. It looks better with the no-titlebar package disabled.
![screen shot 2017-08-14 at 09 17 31](https://user-images.githubusercontent.com/8427726/29261752-7edc7030-80d1-11e7-9222-0afa2b1707c0.png)

Not sure what to do now.

[2017-08-14 07:57] fv0 commented on #73
Don’t know if this makes it better, but Atom can hide the titlebar natively. You don’t need a package for that. Just go to <kbd>Settings</kbd> → <kbd>Core</kbd> and set **Title bar** to **Hidden**.

<img width="816" alt="screen shot 2017-08-14 at 09 55 38" src="https://user-images.githubusercontent.com/8401092/29262938-fb7ff2ba-80d6-11e7-898f-619478c44a26.png">

[2017-08-14 09:34] dmo-odoo commented on #73
Well, this is new then. It removes the need for the no-title-bar package, which incidentally resolves my issue. Thank you very much, this is perfect !
![screen shot 2017-08-14 at 11 34 19](https://user-images.githubusercontent.com/8427726/29266285-8b32f68e-80e4-11e7-8716-80718818168d.png)

[2017-08-14 19:11] fv0 commented on #73
You’re welcome.

[2017-08-14 19:11] #73 closed, assigned to nobody

[2017-08-17 02:11] simurai opened #74 "Gradient in @background-color-highlight throws an error"
When Atom packages try to use the `@background-color-highlight` variable with `darken()`, `lighten()`, `mix()` etc., they get an error. I guess it's because the gradient used here

https://github.com/fv0/native-ui/blob/1502430275dfb882067741c46d601d448e795288/styles/ui-variables.less#L42

isn't a "valid" color?

### Steps to reproduce

1. Use `native-ui` theme.
2. Install https://atom.io/packages/

[2017-08-17 10:16] fv0 commented on #74
@simurai: Thanks for mentioning this. I replaced `@background-color-highlight` with a flat color and I’m now using a different variable for the treeview to keep the `linear-gradient`. Could you update to 0.22.1 and close this issue if this fixes it? I installed atom-ide-ui and had no errors.

[2017-08-17 11:11] jasonrudolph commented on #74
0.22.1 fixes the issue for me. Thanks for the lightning fast turnaround! :bow:

[2017-08-17 11:43] simurai commented on #74
Yes, it's fixed in `0.22.1`. 👍

[2017-08-17 11:43] #74 closed, assigned to nobody

[2017-08-19 16:44] j-f1 opened #75 "The background of an empty pane isn’t vibrant when focused"
Currently, the background of a focused `atom-pane` element is overridden:

https://github.com/fv0/native-ui/blob/2cc9f49460989ea145fb46deab76754100d8a7fa/styles/panes.less#L9-L11

It looks like an override should be added here to prevent this:

https://github.com/fv0/native-ui/blob/2cc9f49460989ea145fb46deab76754100d8a7fa/styles/atom.less#L3-L8

[2017-08-23 15:07] fv0 commented on #75
Hi @j-f1, thanks for pointing this out. This is actually the same behavior as in the Finder and is intended to be like this.

[2017-08-29 09:54] marcelhadorn commented on #21
+1
Will have to wait to use it till there's a dark theme, since I can't read filenames of certain filetypes with file-color package enabled. I'm quiet used to browsing filetypes after color, so I rather won't disable that package. ;)

It would be also nice, if "dark" doesn't just mean "black" but rather inherits the color of the syntax-theme 😉

[2017-09-01 02:39] SarenCurrie opened #76 "Middle click no longer works to close tabs with flexible tabs off"
As of 0.23.0 or Atom 1.19.5, middle mouse no longer closes tabs when flexible tabs is not enabled.

[2017-09-01 15:13] lexicalunit opened #77 "High cpu load when transparency is enabled"
I'm not sure if this is something you can address at the theme level or not but I figured I might as well report it. I had to disable transparency because it was very heavily taxing my cpu, causing my laptop's fans to spin up to full speed whenever I had Atom running. It doesn't seem to matter if I'm even using Atom, just having it running was enough.

It does look really nice tho! Hoping there's

[2017-09-02 04:44] fv0 commented on #77
That’s why I added a checkbox in the Theme settings where you can deactivate it (restart Atom to see it in action). Does that help with the CPU load?

[2017-09-05 15:09] lexicalunit commented on #77
Correct. Disabling the feature does resolve the issue of high cpu load. I was hoping there might be additional work that could allow the feature to remain enabled yet also resolve the cpu load issue. Like I said tho, it may not be possible at the theme level.

[2017-09-05 17:34] fv0 commented on #77
I think so as well. If somebody knows different, please open a new issue here.

[2017-09-05 17:34] #77 closed, assigned to nobody

[2017-09-09 14:02] adruiza opened #79 "Scrollbar over tab section"
I've noticed that with many tabs opened, there comes a moment when tabs do not resize but instead you are able to scroll horizontally through them. This is consistent with other themes.

But, in this theme, a scrollbar appears bellow when this happens, making it difficult to see the titles or even click a tab, like so:

<img width="882" alt="problem_description" src="https://user-images.githubuser

[2017-09-11 02:45] SarenCurrie commented on #76
This was fixed by updating atom to 1.19.7

[2017-09-11 02:45] #76 closed, assigned to nobody

[2017-09-11 04:54] fv0 commented on #76
@SarenCurrie Thanks for keeping track of this, I couldn’t find a solution for it at the moment.

[2017-09-11 04:55] fv0 commented on #79
@haidran Testing a pull request from @hferrier at the moment. Will push it soon for you to update. :-)

[2017-09-11 04:55] #75 closed, assigned to nobody

[2017-09-15 12:46] McCrisp opened #80 "Hard to see git diff"
![screen shot 2017-09-15 at 14 44 46](https://user-images.githubusercontent.com/13944443/30482747-84d9b256-9a24-11e7-9249-feb6bc2db36c.png)

Line 9 and 11 have changes to git, but the grey styling makes it almost impossible to see the differences.

Edit: Seems like it is the styling on .atom-text-editor .line-number, setting opacity to 0.6
The border color for changed lines is already pretty dark,

[2017-09-20 13:58] fv0 commented on #80
This is a hard one since the default styling is coming from Atom itself and it’s not Native UI changing this. I don’t feel well implementing this, since I don’t know what kind of syntax theme people will be using and it might interfere with this.

I’d suggest the following changes for your user stylesheet:

- Make the border thicker.
[code]
- Increase the opacity of the gutter.
[code]

Does this h

[2017-10-10 07:28] JiDoan opened #81 "Busy Signal Missing"
Busy signal is not visible with `native-ui` but is visible in other themes. Attached is a video of the issue.
![untitled](https://user-images.githubusercontent.com/2526517/31374221-ef748ede-ad51-11e7-90e2-67972dd514b3.gif)

[2017-10-12 08:21] #81 closed, assigned to nobody

[2017-10-17 16:09] adruiza commented on #79
Seems to be fixed now, closing. Thank you 😄

[2017-10-17 16:09] #79 closed, assigned to nobody

[2017-10-23 08:21] fv0 opened #82 "Sidebar border overlaps with modal"
<img width="523" alt="screen shot 2017-10-23 at 10 20 32" src="https://user-images.githubusercontent.com/8401092/31878895-e5a1bd70-b7db-11e7-9a53-59c6b35084cb.png">

[2017-11-04 16:56] gnestor opened #83 "Scrollbar disappears after switching tabs"
When I open a new file, I see the scrollbar (and occasionally some flickering of the scrollbar). After I switch to another tab and back to the original tab, the scrollbar is gone.

![u1a1lt1i9e](https://user-images.githubusercontent.com/512354/32407447-70793f72-c146-11e7-9586-527b7043deea.gif)

I can confirm that I don't see this when switching to the Atom Light theme or others.

[2017-11-09 21:19] lexicalunit opened #84 "Tooltips pop-under dock resize handle"
Noticed this today for the first time. The dock handle seemed to be on top of the tooltips from status bar items.

![screen shot 2017-11-09 at 3 15 22 pm](https://user-images.githubusercontent.com/1903876/32630107-1505ce2a-c561-11e7-9ec2-6d0bfc38588b.png)

I made sure to comment out everything in my `styles.less` file first before making this screenshot. Also confirmed that the issue isn't present

[2017-11-10 08:53] fv0 commented on #84
This seems to be related to #82.

[2017-11-10 09:14] fv0 commented on #83
Hi Grant, this seems to be a weird one. When I resize the window horizontally back and forth it shows the scroll bar again. Native UI doesn’t make any adaptions to the display of scrollbars except in the tabs container. I guess I need some help with this one.

[2017-11-12 22:58] seankwalker opened #85 "Top of tree view is fully transparent on hidden title bar"
When transparency is enabled and Title Bar is set to hidden in Atom's Core settings, the top of the tree view is fully transparent, as below:

<img width="458" alt="screen shot 2017-11-12 at 17 53 27" src="https://user-images.githubusercontent.com/20524136/32704431-da12ce48-c7d2-11e7-977e-328451866577.png">

I know the settings page says that the hidden title bar option is experimental, so maybe t

[2017-11-16 18:25] #84 closed, assigned to nobody

[2017-11-16 18:26] #82 closed, assigned to fv0

[2017-11-17 11:44] McCrisp opened #86 "@button-background-color-selected not defined"
Got this after the last update. Did you by any chance remove it when cleaning up?
The developers of Atom IDE UI says its a problem with the themes people are using, and not something they should fix.

[2017-11-18 12:12] datiecher commented on #86
For more information on the issue: facebook-atom/atom-ide-ui#14

[2017-11-18 15:34] #86 closed, assigned to nobody

[2017-11-18 15:37] fv0 commented on #86
@McCrisp Just published a patch for this. This should now work again and not display an error. @datiecher, thanks for the info!

[2017-11-20 21:00] kbatbouta opened #87 "Native-UI Tweaks"
Hey I've noticed that native-UI can use some tweaking to make it look more like XCode also with other personal tweaks and some bugs fixed... if you would like my just PM me

also for anyone who liked the screen shots and want to know how to do this:

1. install tool-bar and tool-bar-flex ( strongly recommend installing nuclide )
2. install native-UI
3. Hide Title-bar in Settings
4. Open Style.less

[2017-11-26 14:48] csmuc commented on #83
same here, 100% reproducible for me. Same happens with the Unity theme by the way.

[2017-11-27 16:29] fv0 commented on #87
Hi @kbatbouta, thanks for the effort. Since this is not an issue related to Native UI I will close this.

[2017-11-27 16:29] #87 closed, assigned to nobody

[2017-12-01 06:52] gnestor commented on #83
It probably isn't native-ui specific, then.

~~I just discovered that if "Show line numbers" is disabled, the scroll bars come back!~~

EDIT: Didn't last... ☹️

![image](https://user-images.githubusercontent.com/512354/33471210-1557e13a-d621-11e7-92b4-d37615f2b9ac.png)

[2017-12-01 21:50] kbatbouta commented on #87
Yeah I Know My mistake for posting here just a tweak that I thought I need to share 😄

[2017-12-13 19:16] bskendig commented on #83
I also see this problem with the `native` theme. Resizing the window narrower/wider can make the scrollbar disappear and reappear randomly.

[2018-02-07 22:28] leo commented on #47
Closing this now, as I don't have a need for it anymore. Thanks everyone! 😊

[2018-02-07 22:28] #47 closed, assigned to nobody

[2018-02-08 12:07] fv0 commented on #85
Thanks for mentioning this. I recommend to use Native UI with a visible title bar though.

[2018-02-08 12:07] #85 closed, assigned to nobody

[2018-02-26 13:35] gugadev commented on #21
+1 @fv0 Do you have plans to release it in a short-middle term?

PS: any PayPal or another payment method for donations?

[2018-03-06 15:49] fv0 commented on #21
@gugadev I’ve gotten around to some experiments but nothing I’d ship as a beta yet. Thanks for offering donations, but I am not in need of it at the moment. Invite someone for a beer and tell them about the theme :-)

[2018-04-22 23:07] rolzing commented on #21
+1 DARK THEMEE

[2018-04-22 23:15] rolzing commented on #80
@fv0 yes it helps!! thanks

[2018-04-23 05:18] #80 closed, assigned to nobody

[2018-04-23 08:53] gobijan opened #89 "macOS transparency feature doesn't work for me"
Hi, first of all nice theme!
I was astonished that it now seems to be possible enable macOS transparency in themes. Unfortunately it doesn't work for me.

I installed the theme, restarted Atom and set the checkbox to true.
I'm running macOS High Sierra 10.13.4 on an iMac Pro.
Any ideas what could be the issue?

[2018-05-17 09:16] UrsaDK commented on #65
Just thought I would update this for the latest Atom / Native-UI:

- Atom: 1.27.0
- Native-UI: 0.26.1

As mentioned in the original message (at the top), dragging github status display to the left of the status bar (inside .status-bar-left) breaks some of the styling, ie:

<img width="427" alt="broken" src="https://user-images.githubusercontent.com/2833247/40167994-c08b5c1a-59c2-11e8-94be-3a6a57dc

[2018-05-17 09:28] UrsaDK opened #90 "Broken styling when used with Atom IDE"
Some of the styling for panes displayed by [Atom IDE](https://ide.atom.io) doesn't appear to be quite right.

For example, this is the debugger pane:

<img width="359" alt="atom-ide-debugger" src="https://user-images.githubusercontent.com/2833247/40169040-597dc776-59c5-11e8-9c0e-c3a195ed28fe.png">

[2018-05-20 06:59] #65 closed, assigned to nobody

[2018-05-20 07:02] fv0 commented on #65
@UmkaDK Finally fixed this. Can you confirm with version 0.26.2 of Native UI that this solves your problem? It didn’t make sense to scope the styling to `status-bar-right`, so I removed this and adapted the code to handle the new `Fetch` link in the Git status element.

[2018-05-21 08:47] UrsaDK commented on #65
@fv0, almost there!! :)

The colours are now spot on, the text is readable, everything works good. The only problem is the padding: there is too much of it on the left and not enough on the right, see attached screen shot:

<img width="311" alt="v0 26 2" src="https://user-images.githubusercontent.com/2833247/40298650-1d115ccc-5ce4-11e8-8503-4939e1f49532.png">

[2018-06-12 05:26] davidbwaters commented on #89
Try changing the title bar setting to custom, inset, or hidden in general settings pane

[2018-06-26 01:39] swrobel opened #91 "Find in Files has lots of heavy horizontal lines in Atom 1.28"
Previously (Atom 1.27.2 / find-and-replace 0.215.9)
<img width="329" alt="screen shot 2018-06-25 at 6 37 13 pm" src="https://user-images.githubusercontent.com/157270/41884154-ef8fdff6-78a6-11e8-9428-6142d8d47b29.png">

Currently (Atom 1.28.0 / find-and-replace 0.215.11)
<img width="324" alt="screen shot 2018-06-25 at 6 33 07 pm" src="https://user-images.githubusercontent.com/157270/41884163-fd082d

[2018-07-31 16:09] #91 closed, assigned to nobody

[2018-07-31 16:11] fv0 commented on #91
Should be better now.

![image](https://user-images.githubusercontent.com/8401092/43472173-20449314-94ed-11e8-93a9-bb9dce5bcfd0.png)

[2018-08-20 01:20] jayporta commented on #89
@gobijan Check Atom's stylesheet (Menu bar > Atom > Stylesheet...) and make sure the .tree-view rule is commented out.

[2018-08-20 17:15] samleemc opened #92 ""White spot" on the bottom right corner?"
<img width="312" alt="screen shot 2018-08-21 at 1 14 11 am" src="https://user-images.githubusercontent.com/42374700/44355572-891f6b00-a4df-11e8-9f49-929357aeaff5.png">

For some reason, there is a "white spot" on my bottom right corner of my atom editor after using the Native-UI theme with the Atom Dark Syntax.

Does anyone have any idea?

[2018-08-22 16:38] samleemc commented on #92
Anyone please?? This is really annoying.

[2018-08-23 09:07] fv0 commented on #92
Hi @samleemc, it would be good if you could one-by-one deactivate all packages you have installed to find the package messing with this. Maybe if you inspect the area with DevTools you can see what is causing this display error. This is the first time someone reported this, so I assume that this isn’t happening to others.

[2018-08-23 09:09] fv0 commented on #89
@gobijan Did the above comments help you?

[2018-08-23 09:39] gobijan commented on #89
I did a clean install of Atom (deleting application support etc.) and it now works. I'll close the issue. Thx for your help.

[2018-08-23 09:39] #89 closed, assigned to nobody

[2018-08-31 09:12] hhc8qsed commented on #92
Hi @fv0, yeah I can confirm this is reproducible (although somewhat inconsistently).

### Description
This is related to scroll bar hiding in macOS. If "Show scroll bars" is set to "always" then these spots will appear when the window and content are sized in a way that one of both scrollbars are not visible.

These spots are actually the scrollbar corner divs with class "scrollbar-corner".

### H

[2018-09-02 05:11] hhc8qsed commented on #92
Actually, this isn't specific to `native-ui`, the problem exists with the prepackaged `Atom Light` and `Atom Dark` themes as well. Seems to be a problem with how Atom renders the scrollbar-corners.

Attached a screenshot from a vanilla install, using the same steps above except with the `Atom Light `theme and `Atom Dark` syntax theme.

![one_light_theme_with_one_dark_syntax_theme](https://user-ima

[2018-09-03 05:08] hhc8qsed commented on #92
Just took a stab at this with PR #93.

[2018-09-03 08:43] fv0 commented on #92
@hanslivingstone Thanks so much. I’ll have a look at what you did and test it! This is what I love about the Open Source community, build better together :-)

[2018-10-26 17:15] joelangford opened #94 "OSX mojave: Black text on sidebar is not always easily visible when when macOS transparancy is enabled."
<img width="1280" alt="screenshot 2018-10-26 at 18 10 24" src="https://user-images.githubusercontent.com/12081900/47581861-90814b80-d94a-11e8-97b4-660b75781f40.png">

Since updating to Mojave the sidebar has lost it's white transparent tint and gone to just a fully transparent tint. When using darker wallpapers it can make the text harder to read as illustrated.

[2018-10-31 11:09] johngeorgewright commented on #94
I'm also experiencing this... even when I try and turn off the "macOS transparency" option.

[2018-10-31 16:07] fv0 commented on #94
Should be fixed with [latest release](https://github.com/fv0/native-ui/releases/tag/v0.27.0).

[2018-10-31 16:07] #94 closed, assigned to nobody

[2018-10-31 16:07] fv0 commented on #92
Should be fixed with [latest release](https://github.com/fv0/native-ui/releases/tag/v0.27.0).

[2018-10-31 16:07] #92 closed, assigned to nobody

[2018-11-04 00:50] chriskrycho commented on #21
Given Mojave's recent release, I'm here to check in on the status. I *may* be able to help with it after the start of the year (though I wouldn't count on it 😬); but I would definitely love it.

[2018-11-07 04:31] heinst commented on #21
I hate to break it to everyone but this issue was create 3 years ago...i think its safe to say its never coming 🤷‍♂️

[2018-12-01 06:58] fv0 commented on #21
**Hey everyone**

I wanted to give you and update on how it is going with the dark mode. It’s not that I don’t want it, but I want it to be equally as good as the light interface.
I created a “walking skeleton” prototype to try around if I can make the interface dark and match the syntax theme colors.

![image](https://user-images.githubusercontent.com/8401092/49325141-bd261580-f53d-11e8-94ba-3f4d

[2018-12-07 20:44] TheTourer commented on #21
Yes, with Mojave's Dark Mode enabled, the context menus take on the dark styling automatically, system wide. I don't think there'll be a way for Electron to choose/enforce which styling is used independent of the OS, if I had to guess. Maybe look into a way to detect the current mode and display the theme variant based on that? I know there are some other Atom packages that allow theme switching b

[2019-01-21 06:41] aacassandra opened #96 "Transparent Crash on high sierra"
Transparent Crash on high sierra. transparent work 100% on maximize mode.
![screen shot 2019-01-21 at 13 37 01](https://user-images.githubusercontent.com/29236058/51456980-31cd4180-1d82-11e9-9689-8559ec580213.png)

[2019-06-10 21:53] swrobel commented on #21
I'd just like to say I agree w/ @TheTourer on the fact that the default (or perhaps only) behavior is that the theme should reflect the native dark mode colors, just light light mode. I use light mode syntax themes with yellowish backgrounds like solarized and it doesn't bother me, so I don't see why dark mode should behave any differently.

Any updates on your thinking, @fv0?

[2019-07-05 09:32] lucasvieites opened #97 "Feature request: option to have the Tab close button on the right side"
Hi,
I'd like to have the close tab button on the right side of the tab. Is it possible to add this as a setting?
Thank you in advance,
Lucas

[2019-07-08 08:04] KyNorthstar commented on #21
I would love to see this realized. Catalina will come out this September, marking a full year of stable-channel macOS having dark mode support. Absolutely would love to use this theme along with that.

[2019-09-09 14:01] fv0 commented on #21
I’ve been watching this thread for a while now. I’ve pretty much moved to Visual Studio Code for my coding work, that’s why nothing happened on this theme here anymore.

I’d like to quote [Bastian Allgeier](https://twitter.com/bastianallgeier/status/1169875855738167296) about his take on dark themes.

Instead of making false promises and keeping people waiting forever, I’d rather take a stance and

[2019-09-09 14:01] #21 closed, assigned to nobody

[2019-09-13 14:08] fv0 commented on #97
Hi @lucasvieites, thanks for your request. This would go against the native look of tabs in macOS, so I won’t open up this option. If you fiddle around with the CSS of the theme, I’m sure you can position it on the other side, if that’s more valuable to you.

[2019-09-13 14:08] #97 closed, assigned to nobody

[2019-09-13 14:56] lucasvieites commented on #97
Thanks for your update. Of course, and I have actually already done that, but now I have to keep my changes in sync with your future releases :(
I thought I'd add it as a request in case other users would find it useful.

Kind regards,
Lucas

[2019-09-26 20:20] ed9w2in6 opened #98 "macOS transparent blur effect *not working*"
I downloaded the theme for the transparent blur effect but
for some reason it did not work for me. 😢

I cannot reproduce the same transparent blur effect in the screenshots provided.

Here is a screenshot of my atom editor:

My system information:
* MacOS High Sierra 10.13.6,
* Native-ui 0.27.0 and Atom 1.40.1 x64.
* I had restarted several times but it did not solve the issue.

May I ask if this

[2021-11-24 17:18] #1 closed, assigned to nobody